include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include woocommerce_softland *.css
recursive-include woocommerce_softland *.csv
recursive-include woocommerce_softland *.html
recursive-include woocommerce_softland *.ico
recursive-include woocommerce_softland *.js
recursive-include woocommerce_softland *.json
recursive-include woocommerce_softland *.md
recursive-include woocommerce_softland *.png
recursive-include woocommerce_softland *.py
recursive-include woocommerce_softland *.svg
recursive-include woocommerce_softland *.txt
recursive-exclude woocommerce_softland *.pyc